html {
  overflow-x: hidden;
}

.daily-container {
  display: flex;
}

.react-calendar {
  margin: 20px;
  float: left;
}


.data-stats .column {
  float: left;
}

.column {
  padding: 20px;
}

/* React Stockcharts */
.react-stockchart {
  margin-top: 10px;
}

.react-stockcharts-default-cursor {
  cursor: pointer;
}
